/* Write code for your CSS here */
.app {
  width: 30%;
  margin: auto;
}

.skills ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.skills ul li {
  list-style: none;
  background-color: aqua;
  padding: 5px 10px;
  border-radius: 5px;
}
